<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="me.machao.jsonxaidl.sample">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LocalActivity"/>

        <activity
                android:name=".RemoteActivity"
                android:process=":remote"
        />

        <!-- 注册服务 -->
        <service android:name="me.machao.jsonxaidl.library.IPCService">
            <intent-filter>
                <action
                        android:name="me.machao.myipc.library.action.IPCService"/>
            </intent-filter>
        </service>
    </application>

</manifest>